@import "chunk/reset.scss";

* {
box-sizing: border-box
}

@import "chunk/mixin.scss";
@import "chunk/var.scss";
@import "chunk/header.scss";
@import "chunk/post-section.scss";
@import "chunk/inst-img-section.scss";
@import "chunk/footer.scss";

@font-face {
    font-family: 'roboto';
    src: url(../font/Roboto-Regular.woff2);
}