<footer>
    <h2>- get in touch with us -</h2>
    <p class="desc">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.
    </p>
    <div>
        <img src="./img/RSS.png" alt="">
        <img src="./img/Facebook.png" alt="">
        <img src="./img/Twitter.png" alt="">
        <img src="./img/Dribbble.png" alt="">
        <img src="./img/Pinterest.png" alt="">
    </div>
    <p class="cont"> 
        <span class="cont__str">Moonshine St. 14-05 Light City</span>
        <span class="cont__nmb">&nbsp&nbsp/&nbsp&nbspT. +00 (123) 456 78 90</span>
        <span class="cont__mail">&nbsp&nbsp/&nbsp&nbspirst.last@email.com</span>
    </p>
</footer>