<header>
    <div class="navbar-phone-btn">
        <ul class="navbar">
            <li class="navbar__item">home</li>
            <li class="navbar__item">about us</li>
            <li class="navbar__item">our journal</li>
            <li class="navbar__item">projects</li>
            <li class="navbar__item">news</li>
            <li class="navbar__item">features</li>
            <li class="navbar__item">contact</li>
        </ul>
    </div>
    <div class="img-contenir">
        <img src="./img/intro-img1.png" alt="">
    </div>
</header>