<section class="inst">
    <div class="inst-img-section">
        <div class="inst-img-section__text">
            <p class="inst-img-section__text__one">
                <span>- Latest Instagram Shots</span>
                <span>- Last Instagram Shot</span>
            </p>
            <p class="inst-img-section__text__two">go to our instagram page -</p>
        </div>
        <div class="inst-img-section__img">
            @@loop("../data/inst-img.html", "../../data/inst-img-section.json")
        </div>
    </div>
</section>