<a class="post-section-block">
    <img class="post-section-block__img" src="@@img" alt="">
    <div class="post-section-block__text-wrapp">
        <h2 class="post-section-block__text-wrapp__name">@@text-name</h2>
        <p class="post-section-block__text-wrapp__comm">@@text-comm</p>
        <p class="post-section-block__text-wrapp__desc">@@text-desc</p>
    </div>
</a>