footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $base-color-black;
    min-height: 355px;

    h2 {
        color: rgba(254, 254, 254, 1);
        font-family: 'roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        margin-bottom: 24px;
    }

    .desc {
        color: rgba(185, 185, 185, 1);
        width: 684px;
        font-family: 'roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        margin-bottom: 35px;

        @include ph320{
            font-size: 12px;
            line-height: 20px;
            width: 303px;
        }
    }

    div{
        margin-bottom: 35px;
    }

    .cont {
        color: rgba(185, 185, 185, 1);
        width: 684px;
        font-family: 'roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        text-align: center;

        @include ph320{
            font-size: 14px;
            line-height: 24px;
            width: 235px;

            &__str{
                display: block;
            }

            &__nmb{
                display: block;
            }

            &__mail{
                display: block;
            }
        }
    }
}