
header{
display: flex;
flex-direction: column;
align-items: center;

    .navbar {
    max-width: 1200px;
    display: flex;
    justify-content: center;

        &__item {
            padding: 45px 34px 45px 34px;
            text-transform: uppercase;
            @include navbarFont;

            &:hover{
                color: rgba(87, 164, 164, 1);
                cursor: pointer;
            }
            
            @include ph768 {
            padding: 45px 20px 45px 20px;
            }
        }

        @include ph768 {
            position: absolute;
            left: -137px;
            top: 27px;
            width: 182px;
            height: 208px;
            display: flex;
            flex-direction: column;

            &_none {
                display: none;
            }

            &__item {
                padding: 3px 0px 2px 12px;
                @include navbarFont;
                text-transform: uppercase;
                background-color: rgba(245, 245, 245, 1);
                color: rgba(78, 78, 78, 1);
    
                &:hover {
                    color: $base-hover-color;
                }
            }
        }
    }

    .navbar-phone-btn_x{
        background-image: url(../img/menu-button-close.png);
        
        @media (min-width: 768px){
            background-image: none;
        }
    }

    .navbar-phone-btn {
        display: block;
        

        @include ph768 {
            display: block;
            width: 45px;
            height: 37px;
            margin: 23px 0px 23px auto;
            background-color: $base-color-black;
            background-image: url(../img/menu-button.png);
            position: relative;

            &_none{
                display: none;
            }
        }
    }

    .img-contenir{
        // border: 1px solid red;
        width: 1170px;
        height: 550px;

        img {
            width: 100%;
            height: 100%;
        }

        @include ph768 {
            width: 768px;
            height: 361px;
        }

        @include ph320 {
            width: 320px;
            height: 150px;
        }
    }

    @include ph320 {
        flex-direction: column;
    }
}


