.inst{
    background-color: rgba(124, 124, 124, 0.1);
    margin-top: 50px;
    padding-bottom: 50px;

    .inst-img-section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px 0px 15px;
        
    &__text {
        display: flex;
        padding-top: 47px;
        margin-bottom: 25px;

        &__one{
            font-family: 'roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-transform: uppercase;

            & span:last-child{
                display: none;
            }

            @include ph320 {
                & span:last-child{
                    display: block;
                }

                & span:first-child{
                    display: none;
                }
            }
        }

        &__two{
            font-family: 'roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 22px;
            margin-right: 0px;
            margin-left: auto;
            text-transform: uppercase;

            @include ph320 {
                display: none;
            }
        }
    }

    &__img{
        display: flex;
        justify-content: center;
        &__item{
            margin-right: 10px;
            width: 285px;
            height: 285px;

            & img {
                width: 100%;
                height: 100%;
            }

            &:last-child{
                margin-right: 0px;
                
                @include ph768 {
                    display: none;
                }
            }

            @include ph768 {
                width: 250px;
                height: 250px;
            }
            
            @include ph320 {
                display: none;

                &:first-child{
                    display: block;
                }
            }
            
            }
        }
    }
}
