@mixin ph320 {
    @media (max-width: 320px){
        @content;
    }
}

@mixin ph768 {
    @media (max-width: 768px){
        @content;
    }
}

@mixin baseFont {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    font-style: $base-font-style;
    
}

@mixin navbarFont {
    font-family: $base-font-family;
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    font-style: $base-font-style;
}

@mixin postNameFont {
    font-family: $base-font-family;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    font-style: $base-font-style;
    color: rgba(78, 78, 78, 1);
}

@mixin postCommFont {
    font-family: $base-font-family;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    font-style: $base-font-style;
    color: rgba(124, 124, 124, 1);
}

@mixin postPhoneNameFont {
    font-family: $base-font-family;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    font-style: $base-font-style;
    color: rgba(78, 78, 78, 1);
}

@mixin postPhoneCommFont {
    font-family: $base-font-family;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    font-style: $base-font-style;
    color: rgba(124, 124, 124, 1);
}

@mixin postDescFont {
    font-family: $base-font-family;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    font-style: $base-font-style;
    color: rgba(92, 92, 92, 1);
}