.post {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;

    &__text{
        font-family: 'roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 25px;
        margin-top: 65px;
        margin-left: 4px;
        color: rgba(78, 78, 78, 1);
        text-transform: uppercase;
    }

    .post-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &-block {
            display: flex;
            margin-bottom: 32px;
            width: 590px;

            &__img {
                margin-right: 20px;
            }

            &__text-wrapp{
                &__name{
                    @include postNameFont;
                }

                &__comm{
                    @include postCommFont;
                    margin-bottom: 13px;
                }
                
                &__desc{
                    @include postDescFont;
                }
            }
        }
    
        @include ph320 {
            display: flex;
            flex-direction: column;

            &-block {
                display: flex;
                flex-direction: column;
                width: 300px;

                &:last-child{
                    display: none;
                }

                &__img {
                    margin-bottom: 10px;
                }

                &__text-wrapp{
                    &__name{
                        @include postPhoneNameFont;
                    }
    
                    &__comm{
                        @include postPhoneCommFont;
                    }
                    
                    &__desc{
                        display: none;
                    }
                }
            }
        }

        @include ph768 {
            display: flex;
            flex-direction: column;
        }
    }
    @include ph320{
        &__text{
            font-family: 'roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 25px;
            margin-top: 65px;
            margin-left: 4px;
        }
    }
}