$base-font-size: 16px;
$base-font-family: 'roboto';
$base-line-height: 30px;
$base-font-weight: 700;
$base-font-style: normal;





$base-hover-color: rgba(87, 164, 164, 1);
$base-color-black: rgba(0, 0, 0, 1);

